.first-div{
    border: 3px solid black;
    padding: 10px;
}

#purple-box{
    width: 40px;
    height: 100px;
    background: purple;
    display: inline-block;
}
#green-box{
    width: 300px;
    height: 200px;
    background-color: green;
    display: inline-block;
    margin: 0 40px;
    box-sizing: border-box;
}
#blue-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightblue;
    display: inline-block;
}
.second-div{
    border: 3px dotted black;
    padding: 50px;
    margin: 30px 0;
    
}

#yellow-box{
    background-color: yellow;
    height: 200px;
    padding: 50px;
    box-shadow: 5px 10px 30px grey

}
#third-div{
    width: 50%;
    margin: 0 auto;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, )
}
h3{ 
    text-align: center;
    padding: 100px;
    color: blue;
    letter-spacing: 2px;
    font-size: 30px;
    

}